<!DOCTYPE html>
<html>
  <head>
    <title>hazard map</title>
    <meta charset="utf-8">
    <link rel="stylesheet" href="https://unpkg.com/leaflet@1.4.0/dist/leaflet.css"
    integrity="sha512-puBpdR0798OZvTTbP4A8Ix/l+A4dHDD0DGqYW6RQ+9jxkRFclaxxQb/SJAWZfWAkuyeQUytO7+7N4QKrDh+drA=="
    crossorigin=""/>
    <script src="https://unpkg.com/leaflet@1.4.0/dist/leaflet.js"
    integrity="sha512-QVftwZFqvtRNi0ZyCtsznlKSWOStnDORoefr1enyq5mVL4tmKB3S/EnC3rRJcxCPavG10IcrVGSmPh6Qw5lwrg=="
    crossorigin=""></script>
    <link rel="stylesheet" href="/css/style.css" />
    <!-- <script src="/js/geo.js"></script> -->
    <script>
      function init() {
        var map = L.map('map').setView([34.985849,135.758767], 14);
        L.marker([34.985849,135.758767]).addTo(map);
  
        L.tileLayer('https://cyberjapandata.gsi.go.jp/xyz/std/{z}/{x}/{y}.png', {
          attribution: "<a href='https://maps.gsi.go.jp/development/ichiran.html' target='_blank'>地理院タイル</a>"
        }).addTo(map);

        <%- include('./facility', data); %>
      }
    </script>
  </head>
  <body onload="init()">
      <div id="map"></div>
  </body>
</html>
